<div id="footer">
	<div class="row">
		<div class="col-12">

			<p class="mt-5"> 
				<span data-i18n="made_by">Made by</span>
				<a href="<%=link.to.liuyue%>" target="_blank">
					<%=link.name.liuyue%> </a>
			</p>
			<p>
				<span data-i18n="based_on_project">based on project</span>
				<a href="https://github.com/zyfworks/steam-key" target="_blank">
					zyfworks/steam-key
				</a>
				<span data-i18n="based_on_project_from"> from </span>
				<a href="<%=link.to.makazeu%>" target="_blank"> 
					<%=link.name.makazeu%> </a>
			</p>

			
			<p class="mt-2">
				<span data-i18n="license_prefix"> Code released under the</span>
				<a target="_blank"
					href="https://github.com/hangxingliu/steam-key-online-redeem/blob/master/LICENSE">
					MIT License
				</a>.
			</p>

			<p class="mt-2">
				<span data-i18n="icon_from">Icons from</span>
				<a href="http://ionicons.com" rel="nofollow" target="_blank">ionicons</a>. 
			</p>
			<p>
				<span data-i18n="framework_on">Frontend page based on</span>
				<a href="https://getbootstrap.com" rel="nofollow" target="_blank">Bootstrap</a>. 
			</p>
			<p>
				<span data-i18n="fonts_from_1">Web fonts (</span>
					<a href="https://fonts.google.com/specimen/Montserrat" target="_blank">
						Montserrat
					</a>
				<span data-i18n="fonts_from_2">) are copied from</span>
				<a href="https://fonts.google.com/" rel="nofollow" target="_blank">Google Fonts</a>.
			</p>
		</div>
	</div>

</div>