<div id="cardResult" class="row" style="display: none">
	<div class="col-12">
		<div class="card border-primary mt-2">
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<h1 data-i18n="redeem_result">Redeem Result</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div id="txtRedeemPause" class="alert alert-danger" style="display: none">
								<span data-i18n="redeem_limited">
									Redeeming is pause: steam redeem rate limited. 
									Redeeming will be continue an hour later.
								</span>
								(<b id="unfrozenTime">00:00</b>)
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-12">
							<a id="linkExport" class="text-info" href="javascript:;">
								<i class="ion-android-download"></i>
								<span data-i18n="export_results">Export results</span>
							</a>
							<table class="table table-striped table-hover table-bordered table-responsive-md">
								<thead class="thead-dark">
									<tr>
										<th data-i18n="table_no"  style="width: 40px">
											No.</th>
										<th data-i18n="table_key"  style="min-width: 200px">
											Key</th>
										<th data-i18n="table_status" >
											Status</th>
										<th data-i18n="table_name"  style="min-width: 200px">
											Name</th>
									</tr>
								</thead>
								<tbody id="tbResult">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>